<a href="/">
  <div class="logo-small">
    <img src="/image/logo"/>
  </div>
</a>
<div class="toggle_switch" id="theme_switch" style="display: inline-block; _display: inline;">
  <input type="checkbox" id="cb_toggle_switch" checked/>
  <label for="cb_toggle_switch"></label>
</div>
<div class="right" style="display: inline-block; _display: inline;">
  <div id="accountIconBox" style="border: solid 0px #42424200; cursor: pointer; width: 20px; height: 20px; vertical-align: middle;">
    <img id="accountIcon" src="/image/default_icon.jpeg"/>
  </div>

  <div id="accountMenu">
    <p>
      <span>
        <a id="accountId" style="vertical-align: middle; user-select: none;"></a>
      </span>
      
      <br/><br/>
      <a href="/register" id="accountMenu_Register" style="display: none;">
        Register
      </a>
      <a href="/login" onclick="pageTransition('system', 'login', true)" id="accountMenu_Login" style="display: none;">
        Login
      </a>
      <a href="/logout" id="accountMenu_Logout">
        Logout
      </a>
      <a href="/settings" id="accountMenu_Settings">
        Settings
      </a>
    </p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
<script>
  (async () => {
    if (typeof pageTransition === 'function') document.getElementById('accountMenu_Login').removeAttribute('href');
    else document.getElementById('accountMenu_Login').removeAttribute('onclick');
      
    document.getElementById('accountIconBox').onclick = () => {
      document.getElementById('accountMenu').classList.toggle('show');
      document.getElementById('accountIconBox').classList.toggle('active');
    }
    
    if (!Cookies.get('id')) {
      document.getElementById('accountId').innerHTML = `ゲスト`;
      document.getElementById('accountMenu_Register').style.display = 'block';
      document.getElementById('accountMenu_Login').style.display = 'block';
      document.getElementById('accountMenu_Logout').style.display = 'none';
      document.getElementById('accountMenu_Settings').style.display = 'none';
      return;
    }
    document.getElementById('accountId').innerHTML = `@${Cookies.get('id')}`;
    document.getElementById('accountId').href = `/users/2/${Cookies.get('id')}`;
    
    const userDataRes = await fetch(`/api/v2/user/get/${Cookies.get('id')}`);
    const userData = await userDataRes.json();

    if (!userData.icon) userData.icon = "/image/default_icon.jpeg";

    document.getElementById('accountIcon').src = userData.icon;
  })();
  
  const prefersColorSchemeDark = matchMedia(
    '(prefers-color-scheme: dark)'
  ).matches;

  console.log(localStorage.getItem("theme"));

  if (localStorage.getItem("theme") === "dark") {
    document.body.className = 'dark';
    document.getElementById("cb_toggle_switch").checked = false;
    localStorage.setItem('theme', 'dark');
  } else if(localStorage.getItem("theme") === "light") {
    document.body.className = '';
    document.getElementById("cb_toggle_switch").checked = true;
    localStorage.setItem('theme', 'light');
  }
  else {
    document.body.className = 'dark';
    document.getElementById("cb_toggle_switch").checked = false;
    localStorage.setItem('theme', 'dark');
  }
  
  document.getElementById("cb_toggle_switch").onchange = () => {
    console.log("ライトかどうか:",document.getElementById("cb_toggle_switch").checked)
    if (document.getElementById("cb_toggle_switch").checked === false) {
      document.body.className = 'dark';
      localStorage.setItem('theme', 'dark');
    } 
    else if(document.getElementById("cb_toggle_switch").checked === true) {
      document.body.className = '';
      localStorage.setItem('theme', 'light');
    }
  }
</script>