
<div class="toggle_switch" id="theme_switch" style="display: inline-block; _display: inline;">
  <input type="checkbox" id="cb_toggle_switch" checked/>
  <label for="cb_toggle_switch"></label>
</div>
<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
<script>
  const prefersColorSchemeDark = matchMedia(
    '(prefers-color-scheme: dark)'
  ).matches;

  console.log(localStorage.getItem("theme"));
  
  if (localStorage.getItem("theme") === "dark") {
    document.body.className = 'dark';
    document.getElementById("cb_toggle_switch").checked = false;
    localStorage.setItem('theme', 'dark');
  } else if(localStorage.getItem("theme") === "light") {
    document.body.className = '';
    document.getElementById("cb_toggle_switch").checked = true;
    localStorage.setItem('theme', 'light');
  }
  else {
    document.body.className = 'dark';
    document.getElementById("cb_toggle_switch").checked = false;
    localStorage.setItem('theme', 'dark');
  }
  
  document.getElementById("cb_toggle_switch").onchange = () => {
    console.log("ライトかどうか:",document.getElementById("cb_toggle_switch").checked)
    if (document.getElementById("cb_toggle_switch").checked === false) {
      document.body.className = 'dark';
      localStorage.setItem('theme', 'dark');
    } 
    else if(document.getElementById("cb_toggle_switch").checked === true) {
      document.body.className = '';
      localStorage.setItem('theme', 'light');
    }
  }
</script>