<!doctype html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
      <meta property="og:url" content="https://bbs.mf7cli.potp.me"/>
      <meta property="og:type" content="article"/>
      <meta property="og:title" content="Register"/>
      <meta property="og:description" content="ここはmf7cliさんの掲示板です。"/>
      <meta property="og:image" content="https://bbs.mf7cli.potp.me/image/logo"/>
      <meta property="og:site_name" content="mf7cli-BBS" />
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Register - mf7cli-BBS</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/style/style.css">
      <script>
        function submit() {
          document.getElementById("login_form").submit();
        }
      </script>
      <script>
        window.onload = () => {
          document.body.classList.remove("preload");
        }
      </script>
  </head>
  <body class="preload">
    <div id="columnsBox">
      <header>
        <%- include('header.ejs') %>
      </header>
      <h1>mf7cli-BBS (<%= include('version.ejs') %>)</h1>
      <main>
        <a href="/">Home</a>
        <br/>
        <h2>register</h2>
        <br/>
        <ul>
          <%= status %>
          <form method="post" action="/register">
            <input type="text" min="5" placeholder="IDを入力してください。" id="submit_id" name="submit_id"/>
            <br/>
            <input type="password" min="8" placeholder="パスワードを入力してください。" id="submit_password" name="submit_id"/>
            <br/>
            <input type="email" placeholder="メールアドレスを入力してください。" id="submit_email" name="submit_id"/>
            <br/>
            <input type="button" onclick="submit()" value="送信"/>
          </form>
          既にアカウントをお持ちですか？<a href="/login">Login</a>
          <br/>
          <br/>
          <h3>注意</h3>
          <ul>
            <li>メールアドレス認証の有効期限は10分です。</li>
          </ul>
          <br/>
          <h3>アカウントの要件</h3>
          <ul>
            <li>IDとパスワードは英数字とアンダーバーのみ</li>
            <li>IDは5文字以上15文字以内、パスワードは8文字以上</li>
          </ul>
        </ul>
      </main>
      <footer>
        <%- include('footer.ejs') %>
      </footer>
    </div>
  </body>
</html>