<!doctype html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
      <meta property="og:url" content="https://bbs.mf7cli.tk"/>
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="Home"/>
      <meta property="og:description" content="ここはmf7cliさんのSNSです。"/>
      <meta property="og:image" content="https://bbs.mf7cli.tk/image/logo"/>
      <meta property="og:site_name" content="nano-SNS"/>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>nano-SNS</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/style/style.css">
      <script>
        window.onload = () => {
          document.body.classList.remove("preload");
        }
      </script>
  </head>
  <body class="preload">
    <div id="columnsBox">
      <header>
        <%- include('../header.ejs') %>
      </header>
      <h1 style="display: inline-block; _display: inline;">nano-SNS</h1><small>mf7cli-BBS (<%= include('../version.ejs') %>)</small>
      <main>
        <a href="/">Home</a>
      </main>
    </div>
  </body>
</html>