@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

@media only screen and (max-width:768px) {
  aside {
    width: 10%!important;
  } 

  .loader-wrap2 {
    width: 90%!important;
  }

  #columnsBox {
    margin-left: 10!important;
  }
}

@media only screen and (max-width:480px) {
  aside {
    display: none;
  }

  #columnsBox {
    margin-left: 0!important;
    width: 100%!important;
  }
}

body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

aside {
  width: 15%;
  margin-top: 3em;
  position: fixed;
  overflow: hidden;
  border-right: solid 1px #424242;
  height: 80%;
}

#columnsBox {
  width: 60%;
  margin-top: 3em;
  margin-left: 20%;
}

#statusColumn {
  width: 20%;
  margin-top: 3em;
}

#status:not(#status[data-content=""])::before {
  content: "i";
  font-size: 75%;
  margin-right: 5px;
  display: inline-block;
  vertical-align: 2px;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 50%;
  background: #4287f5;
  color: #FFF;
  font-weight: bold;
}

.pageName {
  color: #1495ff;
}

.dark .pageName {
  color: #ff7b00;
}

.sideMenuItem {
  color: #1495ff;
}

.dark .sideMenuItem {
  color: #ff7b00;
}

#threadList {
  line-height: 1.5em;
}

a {
  cursor: pointer;
}

.delete_button {
  cursor: pointer;
}

.loader-wrap2 {
	position: fixed;
	display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  background: #fafafa;
  z-index: 9;
  margin: -3em;
}

.dark .loader-wrap2 {
  background: #252525;
}

.loader-wrap2.loaded {
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
}

#profileIcon {
  border: solid 1px #9992;
}

#inputForm.userPage {
  display: inline-block;
  width: 60%;
  margin-left: 0.5em;
}

#inputForm.userPage > textarea {
  width: 100%;
  height: 45px;
  margin-bottom: 6px;
}